/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
  }
  
  .footer p {
    margin: 0;
  }
  